## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  File:          /etc/ssh/sshd_config
#                 SSH Server Daemon Configurations - TEMPLATE
#  Created:       2018-003-11
#  Author:        Alisha Awen Sheppard
#  Git Username:  harmonicalchemy
#  Ref:           https://www.openssh.com/manual.html
#  Repo:          GitHub.com:harmonicalchemy/dotfiles.git
#  Environment:   Any server machine that supports Open SSH (recent versions)...
#
#  This is the Master SSH Daemon configuration file Template for personal VPSs
#  (currently tested with Ubuntu 16.04 with latest up-to-date SSH packages installed)
#
#  Use this template when configuring a new SSH droplet on Digital Ocean or other
#  VPS hosting provider.
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Use the stronger protocol 2. (If set to 1, change it!!)...
Protocol 2

# Use public key authentication instead... 
PubkeyAuthentication yes

# Server Host Keys:
# Enable ONLY one of the two Server Host Keys below default operations:
#HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# IdentitiesOnly:
#   Set this to yes so that only the ID specified above will be used...
#   ssh-agent may have others in memory, however I am also tuning my
#   server to only load a single key into memory and sticking with the
#   one that works... The rest will be safely stored in a keepass db,
#   and only exported and loaded into the ssh-agent if needed... They
#   are shreaded/deleted immediately after I am done using them...
#   Good management of server host keys is critical and paramont!!!
IdentitiesOnly yes

# KexAlgorithms:
# Default to single curve25519-sha256 for normal opearations on my own
# servers.
KexAlgorithms curve25519-sha256@libssh.org
#             ,diffie-hellman-group-exchange-sah256

# HostKeyAlgotithms:
#   Limit Default Host Key algorithms to ssh-ed22519 only on your own VPS.
HostKeyAlgorithms ssh-ed25519

# Cyphers: Since I am the only one connecting to this VPS, 
# I am limiting this list to the single: chacha20-poly1305 cipher
# Which is the strongest to date.  These two others are pretty 
# strong and may be used optionally if needed (but see Update below!)
#    aes256-gcm@openssh.com 
#    aes256-ctr 
# Update: According to Stribika: “SSH doesn’t encrypt packet sizes 
# with any EtM algorithms. There is no way around this unless you 
# can live with chacha20-poly1305 only.” So... I have no problem
# Restricting my own VPS and connections to what's below... Fine ;-)
Ciphers chacha20-poly1305@openssh.com

# Message Authentication Codes: (these will provide best integrity)
MACs hmac-sha2-512
#    Start with the above, add sha2-256 later if needed...

# Disable password authentication... The ultimate first step!
# Don’t do this without a working SSH keypair all ready. DOH! %~)
PasswordAuthentication no

# Enable this next option only if you need to use One Time Password (OTP), 
# or Timed One Time Password (TOPT), e.g., yubikey, google auth, etc.  
ChallengeResponseAuthentication no

# Hash names and addresses within ~/.ssh/known_hosts
# so they can only be read by ssh & sshd, but not 3rd parties.
# (This directive may only be for clients... need to verify)
#HashKnownHosts yes

# The rest of these should all be disabled... (also may only be for clients)
#ForwardAgent no
#ForwardX11 no

# NOTE: I have added more configurations to this file on my servers to increase
# security hardening... I may add those here in this template as well, later...

# END: /etc/ssh/sshd_config
##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

